/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app-container {
 
  margin: 20px auto;
  padding: 20px;
  /* background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;  */
}

h1 {
  color: #007bff;
  text-align: center;
}

h2 {
  color: #110f0f;
  margin-top: 20px;
}

.laptops-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.laptops-table th, .laptops-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.laptops-table th {
  background-color: #007bff;
  color: #fff;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}
